


body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  border-bottom: 1px;
  margin-top: 69px;
}


/* Header and Navbar */

  .header {
    position: fixed;
    top: 0;
    width: 98%;
    display: block;
    background-color: black;
    z-index: 1;
    height: 69px;
    padding-left: 10px;
}

  .img-tea-cozy-logo {
      float: left;
      height: 50px;
      padding-top: 10px;
    }

  .header-menu {
    float: right;
    display: block;
  }

  li {
    list-style-type: none;
    display: inline-block;
    text-decoration: underline;
    padding-top: 5px;
    padding-right: 15px;

  }


  /* Mission */

.mission {
  position: relative;
}

.mission-image{
	position: relative;
  vertical-align: middle;
}

.mission-text{
    position: absolute;
    text-align: center;
    top: 38%;
    center: 100%;
    color: seashell;
    background-color: black;
    width: 1050px;
  }

/* Tea of the month */

.tea-of-month {
    position: relative;
    width: 1000px;
    text-align: center;
  }

  figure {
      width: 25%;
      float: left;
      text-align: center;
  }

  figure.bottom-left {
    padding-left: 190px
  }

  figure.bottom-right {
    padding-right: 100px
  }


  /* Location */

.location {
  width: 1050px;
text-align: center;
}

.location-image {
  align-items: center;
}

/* Contact */

  .footer {
    text-align: center;
    height: 200px;
  }

  /* Copyright */

  .copyright {
    text-align: left;
    padding-left: 20px;
  }
