


body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  border-bottom: 1px;
  margin-top: 69px;
  margin: auto;
  max-width: 1200px;
}

/* clearfix */


/* Header and Navbar */

  .header {
    position: fixed;
    top: 0;
    width: 1200px;
    display: block;
    background-color: black;
    z-index: 1;
    height: 69px;
  }

  .img-tea-cozy-logo {
      float: left;
      height: 50px;
      padding-top: 10px;
      padding-left: 10px;
    }

  .header-menu {
    float: right;
    display: block;
  }

  li {
    list-style-type: none;
    display: inline-block;
    text-decoration: underline;
    padding-top: 5px;
    padding-right: 15px;

  }


  /* Mission */

.mission {
}

.mission-image{
	position: relative;
  vertical-align: middle;
  padding-left: 50px;
}

.mission-text{
    position: absolute;
    text-align: center;
    top: 38%;
    center: 100%;
    color: seashell;
    background-color: black;
    width: 1050px;
  }

/* Tea of the month */

.tea-of-month {
    position: relative;
    width: 1000px;
    text-align: center;
    padding-left: 50px;
  }

  figure {
      width: 25%;
      float: left;
      text-align: center;
  }

  /* Location */
.img-locations-background {
  position: relative;
  z-index: -1;
  padding-left: 50px;
}

.center-top {
  text-align: center;
}

.address-box {
  width: 1000px;
  margin: auto;
  max-width: 1200px;
  padding-left: 59px;
  text-align: center;
  z-index: 1;
}

.box-left {
  background-color: black;
  opacity: 1;
  width: 30%;
  display: inline-block;

}

.box-center {
  background-color: black;
  opacity: 1;
  text-align: center;
  width: 30%;
  display: inline-block;

}

.box-right {
  background-color: black;
  opacity: 1;
  width: 30%;
  display: inline-block;

}

/* Contact */

  .footer {
    text-align: center;
    height: 200px;
    display: block;
  }

a { color: inherit; }
  /* Copyright */

  .copyright {
    padding-top: 10px;
    bottom: 0;
    text-align: left;
    padding-left: 20px;
  }
